body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    height: 100%;   
}

/*****************Home menu****************************/


.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-align: center;
    border: 5px solid #ffffff;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

/*****************Home 2****************************/

.body-home{
    background-image: url('images/background-01-port.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-logo-img {
    width: 50px;
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
#home-logo-text {
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}

.fabfa-android{
    size: 100px ;
}

/*****************Home Page****************************/

.meals-list a{
        text-decoration: none;
}
.meals-list-item{
        border: 5px solid #1a1a1a;
        margin: 10px;
}
.meals-list-item h1{
        font-weight: bold;
        font-size: 20px;
        color: #1a1a1a;
        padding: 10px;
}

.meals-list-item i{
        float: right;
        color: #1a1a1a;
        padding-right: 28px;
}

.meals-list-item p{
        font-size: 15px;
        font-style: italic;
        color: #1a1a1a;
        margin-top: -7px;
        padding-left: 10px;
}

.body-meals{
    background-image: url('images/background-02-port.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/*****************Header****************************/

.header {
    background-color: pink;
    width: 100%;
    height: 50px;
    top: 0%;

    position: fixed;
    overflow: hidden;
    text-align: center;
}

.header i{
    float: left;
    padding: 17px 0px 0px 17px;
    color: whitesmoke;
}

.header img{
    width: 150px;   
    padding-top: 14px;
    padding-right: 25px;
}

/*****************Meals page****************************/

#meals {
    padding-top: 50px;
}

/*****************Recipe page****************************/

.recipe-details {
    width: 100%;
}

.recipe-details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
}

#recipe {
    padding-top:50px;
}

.recipe-details-info {
    margin-left: 25px;
    margin-right: 25px;
}

.recipe-details-info p{
    font-size: 13px;
    display: inline-block;

} 

.recipe-details h2{
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

.recipe-details-ingredients label{
    line-height: 25px;
    margin-left: 10px;
}
.recipe-details-steps{
    padding-top: 20px;
}
.recipe-details-steps ol{
    padding-left: 28px ;
}
/*****************Responsive layout****************************/
@media only screen and (min-width:600px){
    #meals {
        width: 80px;
        margin: auto;
    }
    #recipe{
        width: 80px;
        margin: auto;
    }
}
